<div class="set-container">
    <mat-card-header>
    <p>מספר סטים:</p>
    <mat-form-field>
        <input matInput type="text" [value]="amount" (change)="changeAmount($event)" required>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="AddSet()"><mat-icon>add</mat-icon></button>
    <button mat-icon-button color="primary" (click)="RemoveSet()"><mat-icon>remove</mat-icon></button>
    </mat-card-header>
    <mat-card-actions>
        <p>כשרות:</p><mat-button-toggle-group name="kashrut" appearance="legacy">
            <mat-button-toggle *ngFor="let kashrut of this.db.getKashrutTypes()" value={{kashrut.type}} (change)="selectKashrut($event)">{{kashrut.type}}</mat-button-toggle>
        </mat-button-toggle-group>
        <br><br>
    <mat-radio-group *ngFor="let product of this.db.getProducts()" id="select-{{product.type}}">
        <div *ngIf="product.inSet">
        <p>בחר {{product.type}}:</p>
        <div *ngFor="let cur of product.kinds"> 
        <mat-radio-button value="{{product.type}}:{{cur.name}}" color="primary" (change)="radioEvent($event)" style="white-space: pre-line;"><img src="../../assets/{{cur.imageUrl}}" style="width:min(100px,15vw);height:min(100px,15vw);">{{cur.name}}</mat-radio-button>
        <br>
            </div>
        </div>
    </mat-radio-group>
    </mat-card-actions>
</div>